/**
Indhold:
- Generelt
- Splash
- Menu
- Dropdown menu
- Om
- Grundlæggende web
- Grundlæggende Animation
- Grundlæggende Indhold
- Grundlæggende UX
- Footer
- Media queries
**/


/****Generelt****/
* {
    box-sizing: border-box;
}

body {
    margin: 0vw;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    padding: 2vw;
    line-height: 1.5rem;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 1vw 2vw;
    font-size: 0.9rem;

}

h1 {
    /**font-family: 'Amatic SC', cursive;**/
    font-family: 'Fredericka the Great';
    font-size: 2.2rem;
    padding: 1vw;
    margin: 0vw;
}

h2 {
    font-family: 'Fredericka the Great';
    font-size: 2rem;
}

h3 {
    font-family: 'Fredericka the Great';
    font-size: 1.2rem;
    margin: 1vw 2vw;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin: 1vw 2vw;


}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 1vw;
    color: white;
}

.overskrift {
    background-color: #FAB953;
    display: flex;
    justify-content: center;

}

.col-left {
    margin: 5vw;
    padding: 2vw;
}

.col-right {
    background-color: #FBBA53;
    display: flex;
    justify-content: center;
}

/****Splash****/
#splash {
    background-image: url(Billeder/TIGER%20%201.png);
    width: 100vw;
    height: 133vw;
    background-size: cover;
    background-position: 100% 0%;
    margin: 0vw;

}

/****Menu****/
header nav a:link {
    color: black;
    font-family: 'Fredericka the Great';
}

header nav a:visited {
    color: black;
}

header nav {
    display: flex;
    justify-content: flex-end;
    /**font-family: 'Amatic SC', cursive;**/
    font-family: 'Fredericka the Great';
    font-size: 1.2rem;
    position: sticky;
    top: 0vw;

}


header nav a {
    text-decoration: none;
    margin: 1vw 0;
    padding: 2vw;
    border-right: solid #e3e2e2;
    font-size: 1rem;

}

a:hover {
    text-decoration: underline black;
}

/****Dropdown menu****/

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #e3e2e2;
    top: 10vw;
}

.dropdown a {
    float: right;
    text-align: center;
}

.dropdown-menu a {
    float: none;
    display: block;
}

.dropdown a:hover,
.dropdown:hover {
    background-color: #e3e2e2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/****Om****/

#om img {
    height: 510px;
    width: 290px;
}

/****Grundlæggende Web****/

.text:hover {
    opacity: 1.0;
}


.text p {
    font-family: 'Fredericka the Great';
    text-align: center;
    color: white;
}

.text {
    background: #FAB953;
    position: absolute;
    left: 27vw;
    top: 200vw;
    opacity: 0;
}


/****Grundlæggende Animation****/



/****Grundlæggende indhold****/
#video {
    margin: 2vw;
}

/****Grundlæggende UX****/
#grundlæggende-ux img {
    width: 30vw;
    height: 60vw;
    margin: 1vw;
}

/****Footer****/

footer {
    display: flex;
    justify-content: center;
    background-color: #e3e2e2;
    width: 100%;
}


/****Media query****/
@media only screen and (min-width: 700px) {
    #splash {
        width: 100vw;
        height: 56.25vw;
        background-position: 0% 0%;
    }

    #splash h1 {
        font-size: 3rem;
        padding: 3vw;
    }

    #om {
        display: flex;
        flex-direction: row;

    }

    .col-left {
        margin: 0vw;
        padding: 0vw;

    }

    .col-right {
        padding: 4vw;
        margin: 4vw;
        background-color: #FBBA53;
    }

    .col-right img {
        height: 50vw;
        width: 29vw;
    }


    #portefolio img {
        width: 30vw;
        margin: 0 3vw;
    }

    .billed-txt {
        display: flex;
        justify-content: center;
        background-color: #e3e2e2;
        position: relative;
        margin: 1vw;


    }
}

@media only screen and (min-width: 900px) {

    .col-left {
        flex-grow: 1;
        margin: 2vw;
        padding: 2vw;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #om {
        margin: 0vw 5vw;
    }

    .col-right {
        flex-grow: 1;
    }
}

@media (orientation: landscape) {
    #splash {
        width: 100vw;
        height: 50vw;
        background-position: 0% 90%;
        margin-left: 0vw;
        background-position: 100% 50%;
        max-width: none;
    }

    header nav a {
        margin: 1vw;
        padding: 0vw 1vw;
    }

    .dropdown-menu {
        top: 5vw;
    }

    #om {
        margin: 0vw 10vw;
    }

    .col-right img {
        height: 40vw;
        width: 23vw;
    }

    p {
        line-height: 2rem;
    }

    .col-left {
        margin: 0vw;
        padding: 5vw 0vw 5vw 5vw;

    }

}
